.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    touch-action: none;
    -webkit-touch-callout: none;
    user-select: none;
    text-align: center;
    background-color: #0958D2;
    min-height: 100%;
    padding: 10px;
    overflow: scroll;
}

.title {
    font-size: clamp(40px, 15vw, 75px);
    word-wrap: break-word;
    hyphens: auto;
    color: #EBACE4;
    transition: 0.3s;
    margin-top: 10px;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    width: 80%;
    margin-top: -10px;
    align-self: center;
    overflow: scroll;

}

.navLink {}

.text {
    font-size: clamp(50px, 15vw, 60px);
    margin: 0;
    line-height: 1.2;
    margin-bottom: 80px;
    color: #fff;
    transition: 0.3s;
    text-align: center;
}

.text:hover {
    color: #FA8600;
    transition: 0.3s;
}