.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-touch-callout: none;
    user-select: none;
    text-align: center;
    background-color: #0958D2;
    padding: 10px;
    overflow: scroll;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
}

.title {
    font-size: clamp(40px, 15vw, 75px);
    word-wrap: break-word;
    hyphens: auto;
    color: #EBACE4;
    transition: 0.3s;
}

.info {
    font-size: clamp(26px, 15vw, 40px);
    word-wrap: break-word;
    hyphens: auto;
    color: #eaeaea;
    transition: 0.3s;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 40px;
    width: 80%;
    height: 100%;
    margin-top: 20px;
    align-self: center;
}

.text {
    font-size: clamp(10px, 6vw, 60px);
    line-height: 1.2;
    color: #fff;
    transition: 0.3s;
    text-align: center;
    cursor: none;
}

.text:hover {
    color: #FA8600;
    transition: 0.3s;
}